/* MAIN CONTAINER */
#pdfList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 10px;
}

/* DESKTOP VIEW */
@media(min-width: 600px){
  #pdfList {
    grid-template-columns: 1fr 1fr;
  }
}

/* CARD FIX */
.card {
  width: 100%;
  box-sizing: border-box;
}